@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");


.container{
    /*margin-left: 5px;
    margin-right: 10px;*/
    margin-bottom: 10px;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    line-height:200%;
    width: 15%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.right-column {
    width: 85%;
}

input[type=submit] {
    margin: 10px 0;
}
/*----------------------------------*/
table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 40px;
    background-color: yellowgreen;
}

th, td {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    /*width: 33.33%;  to enable "word-break: break-all" */
    word-break: break-all; /* 4. */
}

table, td {
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 12px;
}

thead {
    text-align: center;
    display: table; /* to take the same width as tr */
    width: calc(100% - 17px);  /*- 17px because of the scrollbar width */
}

tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 450px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}

tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

td {
    text-align: left;
    border-bottom: none;
    border-left: none;
}

.date {
    width: 20%;
}

.company {
    width: 30%;
}

.url {
    width: 50%;
}

.search {
    margin-right: 30px;
    margin-bottom: 10px;
    /*float: left;*/
}

h1, h2 {
    text-align    : center;
}

.nav-item{
    margin-left: 20px;
    font-size     : 18pt;
}

