<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/about.css" type="text/css">
    <title>About</title>
</head>
<body>
<div class="signup-form">
    <!--form action="/internal" method="get"-->
        <h2>Welcome!</h2>
        <h2>This web service is a consolidated job portal.<br>
            It gathers real-time job openings from LinkedIn, glassdoor, users contribution, etc.<br>
            By signing up, users can track their application so that they can remember which companies they have already submitted.
        </h2>

    <h3>Contact: kenichiderumo@gmail.com</h3>
    <a href="./index" class="btn btn-success btn-lg btn-block">Go to main page</a>
    <!--/form-->
</div>

</body>
</html>