<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup.css" type="text/css">
    <title>Sign Up</title>
</head>
<body>
    <div class="signup-form">
        <form action="" method="get">
            <h2>Oops! Signup error.</h2>
            <h2>{{.}}</h2>

            <!--div class="form-group">
                <div class="row">

                        <input type="text" class="form-control" name="email" placeholder="Email address" required="required"/>
                        <input type="text" class="form-control" name="password" placeholder="password (at least 4 characters)" required="required"/>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>

                </div>
            </div-->
        </form>
    </div>

</body>
</html>