<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup.css" type="text/css">
    <title>Post your job</title>
</head>
<body>
<div class="signup-form">
    <form action="" method="post">
        <h2>Welcome! Please post your job</h2>

        <div class="form-group">
            <div class="row">
                <input type="text" class="form-control" name="companyName" placeholder="Company Name" required="required"/>
                <input type="text" class="form-control" name="jobTitle" placeholder="Job Title ex)Software Engineer Intern" required="required"/>
                <input type="text" class="form-control" name="jobURL" placeholder="Job URL" required="required"/>

                <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>

            </div>
        </div>
    </form>
</div>

</body>
</html>