<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup.css" type="text/css">
    <title>Post your job</title>
</head>
<body>
<div class="signup-form">
    <form action="" method="post">
        <h2>Thank you! Your job is now posted.</h2>
        <h2>You can also post more in this same page!</h2>
        <div class="form-group">
            <a href="./index-login-success" class="btn btn-success btn-lg btn-block">Go to main page</a>
        </div>
    </form>
</div>

</body>
</html>